<div class="container cards" id="skills">
    <div class="title">
        <h1>
          Compétences
        </h1>
        <p class="line text-center"></p>
    </div>
    <div class="row" ontouchstart="">
      <div class="f1_container col-sm-4">
        <div class="col-xs col-sm-12 card f1_card front face" style="background-image: url('./images/backend.jpg');background-size: cover; background-repeat: no-repeat;background-position: center;">
            <div class="back face center">
            <div>
                <li class="list-unstyled">
                  <%= image_tag('postgre.png', class: 'logo-picture') %>
                </li>
                <li class="list-unstyled">
                  <%= image_tag('ruby.png', class: 'logo-picture') %>
                </li>
                <li class="list-unstyled">
                  <%= image_tag('rails.png', class: 'logo-picture') %>
                </li>
            </div>
          </div>
        </div>
      </div>
      <div class="f1_container col-sm-4">
        <div class="col-xs col-sm-12 card f1_card front face" style="background-image: url('./images/frontend.jpg');background-size: cover; background-repeat: no-repeat;background-position: center;">
          <div class="back face center">
            <div>
              <li class="list-unstyled">
                <%= image_tag('html.png', class: 'logo-picture') %>
              </li>
              <li class="list-unstyled">
                <%= image_tag('css.png', class: 'logo-picture') %>
              </li>
              <li class="list-unstyled">
                <%= image_tag('js.png', class: 'logo-picture') %>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="f1_container col-sm-4">
        <div class="col-xs col-sm-12 card f1_card front face" style="background-image: url('./images/features.png');background-size: cover; background-repeat: no-repeat;background-position: center;">
          <div class="back face center">
            <div>
              <li class="list-unstyled">
                <%= image_tag('negociation.png', class: 'logo-picture-bis') %>
              </li>
              <li class="list-unstyled">
                <%= image_tag('customers.png', class: 'logo-picture-bis') %>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
